@media screen and (max-width: 720px) {
    .container-media {
        flex-flow: column wrap;
        align-items: center;
    }

    .container-media_text {
        width: 80%;
        margin-bottom: 2%;
    }
    
    .container-media_imgvid {
        width: 80%;
    }
}